@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #2D3355;
  --color-secondary: #E0FF1F;
  --color-alt: #3A4060;
  --color-alt2: #F8F9FB;
  --color-alt3: #6B6B6B;
  --color-alt4: #DEE0ED;
  --color-alt5: #DEDEDE;
  --color-alt6: #555555;
  --color-alt7: #BCBCBC;
  --color-customg: #C8FFCA;
  --color-customp: #CFC8FF;
  --color-customy: #FFEE8C;
}

* {
  font-family: Inter;
}

.animated {
  animation: pulse 1s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    opacity: 100%;
  }

  50% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

.input {
  @apply p-3.5 border border-gray-300 outline-0 focus:outline-2 focus:outline-primary transition duration-300
}

.dropdown {
  @apply shadow-lg h-48 overflow-y-scroll bg-white border border-gray-200 w-full left-0 top-[120%]
}

.bar::-webkit-scrollbar {
  display: none;
}

input:-webkit-autofill {
  animation-name: onAutoFillStart;
  animation-duration: 0.01s;
}

@keyframes onAutoFillStart {
  from {}

  to {}
}

.pwd {
  -webkit-text-security: disc;
  /* Works in Chrome, Safari */
}